@import "base";
@import "prefixer";
.calendar-item {
  display: inline-block;
  margin: 10px 0 0 10px;
  flex-grow: 1;
  width: calc(100% * (1/4) - 10px - 1px);
  border-radius: 4px;
  border: 1px solid $border-color;
  background: $white;
  box-shadow: 2px 2px 2px $border-color;
  transition: transform 0.2s ease-out;
  .ci-heading-wrap {
    background-color: $secondary;
    color: $white;
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
  }
  .ci-heading {
    text-align: right;
    font-weight: 700;
    text-shadow: 0px 0px 1px #3c3c3c;
  }
  .ci-content-wrap {
    height: 156px;
    display: grid;
    grid-template-columns: repeat(6, 30px);
    grid-auto-flow: row;
    position: relative;
  }
  .profile-box {
    color: $white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 1px #3c3c3c;
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: relative;
    &:hover {
      .profile-details {
        opacity: 1;
         z-index: 1;
      }
    }
  }
  .profile-txt {
    transition: opacity 0.3s ease-out;
    opacity: 1;
  }
  .profile-details {
    transition: opacity 0.3s ease-out;
    opacity: 0;
    display: flex;
    color: $white;
    text-align: center;
    position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    background-color: rgba(0,0,0,0.7);
    .profile-content{
      font-size: 12px;
      font-weight: normal;
      padding: 10px;
    }
    .profile-name{
      font-weight: bold;
    }
  }
}
